*{
    margin: 0;
    padding: 0;
}

p {
    padding-top: 5%;
    margin-top: 0%;
    margin-right: 25%;
    margin-bottom: 0%;
    margin-left: 25%;
    font-style: oblique;
    font-size: large
}

h1 {
    color: brown;
    font-style: inherit;
}

h2 {
    padding-top: 3%;
    color: green;
    margin-top: 2%;
    margin-right: 15%;
    margin-bottom: 5%;
    margin-left: 30%;
}

h3 {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 40%;
    margin-right: 40%;
    margin-bottom: 0%;
    margin-left: 45%;
    font-style: italic;
}

h6{
    padding: 25px;
    text-align: center;
}

ul{
    display: flex;
    justify-content: center; 
    list-style-type: none;
}
  
li a{
display: block;
padding: 8px;
}

.menu {
    list-style: none;
    float: right;
    margin-top: 4%;
    padding-inline-start: 1%;  
    font-size: 110%;
}

.container {
    text-align: center;
    margin-left: 10px;
}

.container div {
    overflow: hidden;
    width: 350px;
    height: 350px;
    display: inline-block;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 10px auto auto auto;
}

.redes-sociales {
    text-align: center;
    margin-left: 10px;
}

.redes-sociales img{
    display: inline-block;    
    width: 80px;
    height: 80px;
    padding-top: 0;   
}